@import "tailwindcss";
@import "tw-animate-css";

/* Fonts */
@font-face {
  font-family: "Inter Light";
  src: url("../app/fonts/Inter-Light-BETA.otf");
  ascent-override: 100%;
}

.inter-light {
  font-family: "Inter Light";
}

@font-face {
  font-family: "Inter Regular";
  src: url("../app/fonts/Inter-Regular.otf");
  ascent-override: 100%;
}

.inter-regular {
  font-family: "Inter Regular";
}

@font-face {
  font-family: "Inter Medium";
  src: url("../app/fonts/Inter-Medium.otf");
  ascent-override: 100%;
}

.inter-medium {
  font-family: "Inter Medium";
}

@font-face {
  font-family: "Inter Semi Bold";
  src: url("../app/fonts/Inter-SemiBold.otf");
  ascent-override: 100%;
}

.inter-semibold {
  font-family: "Inter Semi Bold";
}

@font-face {
  font-family: "Inter Bold";
  src: url("../app/fonts/Inter-Bold.otf");
  ascent-override: 100%;
}

.inter-bold {
  font-family: "Inter Bold";
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url("../app/fonts/Inter-ExtraBold.otf");
  ascent-override: 100%;
}

.inter-extrabold {
  font-family: "Inter Extra Bold";
}

@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("../app/fonts/JetBrainsMono-Medium.ttf");
  ascent-override: 100%;
}

.jetbrains-medium {
  font-family: "JetBrains Mono Medium";
}

/* Universal styles */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 0;
}

body {
  font-family: "Inter Regular", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* Smooth scrolling and scrollbar styles */
* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #262424;
}

@supports (-webkit-overflow-scrolling: touch) {
  html,
  body {
    -webkit-overflow-scrolling: touch;
  }
}

@supports (scroll-behavior: smooth) {
  html {
    scroll-behavior: smooth;
  }
}

/* Colours */
.primary-text {
  color: #ffffff;
}
.secondary-text {
  color: #eee5da;
}
.accent-text {
  color: #e8492a;
}
.primary-bg {
  background-color: #262424;
}
.secondary-bg {
  background-color: #2a2a2a;
}
.accent-bg {
  background-color: #e8492a;
}
